body { 
			background: #353040;
			max-width: 40rem;
			margin: 0 auto;
			padding: 2rem;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
			font-size: 1em;
			color: #fffcf2;
			line-height: 1.5em;
		}
		h1 {
			color: #fdbe11;
			font-size: 1.8em;
		}
		h2, h3 {
			margin-top: 1.3em;
			margin-bottom: 0.2em;
		}
		h2 {
			color: #b5c968;
			font-size: 1.4em;
		}
		h3 {
			color: #f481ae;
			font-size: 1.2em;
		}
		p {
			max-width: 70ch;
			margin-top: 0.5em;
			margin-bottom: 1em;
		}
		a {
			color: #07b7f3;
		}
		ul {
			padding-left: 20px;
		}
		li {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
